<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>List Vulnerabilities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
	#hide {
	  display: none;
	}

	#cveID:hover + #hide {
	  display: block;
	  color: red;
	}
  </style>
</head>
<body>
  
<div class="container">
  <h2 class="text-center"><u>Fillable Consequence matrix</u></h2><br>  
  <form id="form2" action='consequence_matrix' method="POST">  
    {%csrf_token%}  
    <table class="table table-dark table-striped">    
       <thead>
	      <tr>   
			
            <th>Asset</th>
			<th>Loss of Income</th>
			<th>Loss of Reputation</th>
			<th>Loss of Business</th>
            
	      </tr>
	   </thead>
    <tbody>
    <!-- jinja2 Technique -->
   
	
      <tr>
	  
	    
		
		<td>{{asset}}</td>
		<td>
		  <select name="income"> 
        <option disabled=True selected="selected">--select Consequence--</option>   
            <option value="low">LOW</option>    
            <option value="medium">MEDIUM</option>    
            <option value="high">HIGH</option>    
          </select>  
		</td>
		<td>
		  <select name="reputation"> 
        <option disabled=True selected="selected">--select Consequence--</option>   
            <option value="low">LOW</option>    
            <option value="medium">MEDIUM</option>    
            <option value="high" >HIGH</option>    
          </select>  
		</td>
		<td>
		  <select name="business"> 
        <option disabled=True selected="selected">--select Consequence--</option>   
            <option value="low">LOW</option>    
            <option value="medium">MEDIUM</option>    
            <option value="high" >HIGH</option>    
          </select>  
		</td>
    
	  </tr>
    
    </tbody>
  </table>
  <button type="submit">Create Risk Matrix</button>
						
 
</div>                   
    
    <table class="table table-dark table-striped">    
       <thead>
	      <tr>   
			<th></th><th></th>
			<th>Loss of Income</th>
			<th>Loss of Reputation</th>
			<th>Loss of Business</th>
      
	      </tr>
	   </thead>
    <tbody>
        {% if d %}  
        {% for i in d %}
        <tr>
        <th colspan =2>{{i.CVE_ID}}</th>
        </tr>
        
        
          <tr>
            
            <td>
              {{total_income}} 
            </td>
            <td>
              {{total_reputation}}  
            </td>
            <td>
              {{total_business}} 
            </td>
        
          </tr>
        {% endfor %}
        
        {% endif %}
        </tbody>
      </table>
      
                            
      
    </div> 
</body>
</html>